:root {
  --bg-color: #fafafa;
  --text-color: #111;
  --card-bg: #ffffff;
  --header-bg: #ffffff;
  --shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

body.dark {
  --bg-color: #202c37;
  --text-color: #ffffff;
  --card-bg: #2b3945;
  --header-bg: #2b3945;
  --shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.14);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header-container {
  background: var(--header-bg);
  color: var(--text-color);
  box-shadow: var(--shadow);
}

.country-card,
.filter-country,
.search-bar input {
  background: var(--card-bg);
  color: var(--text-color);
}

.header-container {
  /* box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2); */
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin-inline: auto;
}

a {
  text-decoration-line: none;
  color: inherit;
}

.title {
  margin: 6px;
}

.theme-changer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }

  .theme-changer {
    font-size: 13px;
  }
}
